@using PagedList;
@using PagedList.Mvc;
@model IPagedList<NewsContentManagement.Models.News>

@{
    ViewBag.Title = "Home Page";
    Layout= "~/Views/Shared/_UserLayout.cshtml";
}
<head>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
  <!--PAGE CONTENT-->
<div class="container">

    <h1 class="my-4">The Latest News and More</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
       @foreach (var item in Model)
       {
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">@item.Title</h4>
                <div class="card h-25">
                    <h6 class="card-header">@item.Authors.authorName & @item.Categories.categoryName</h6>
                </div>
                <div class="card-body">
            
                        <p class="card-text">

                            
                            @if (string.IsNullOrEmpty(item.Content) == false && item.Content.Length > 50)
                            {
                             
                                @*@(item.Content.Substring(0,70))*@
                                @Html.Raw(item.Content.Substring(0,50))
                            }
                            else
                            {
                                @Html.Raw(item.Content)
                                @*@item.Content*@
                            }


                      
                
                    </p>
                </div>
                <div class="card-footer">
                   
                    <a href="@Url.Action("NewsDetails","Home",new { id=item.Id })" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
       }
       
       
    </div>
    <!-- /.row -->
</div>
<!--PAGE CONTENT FINISH-->
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="pagination justify-content-center">

                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)

            </div>
        </div>
    </div>
</div>
